.CategoryMain{
    width: 100%;
    padding-top: 114px;
}

.TopicListContainers{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 100%;
    margin: auto;
    display: grid;
    max-width: var(--d-max-width);
    column-gap: 1em;
    padding:  0px;
}

.category-box {
    background-color: var(--bg-primary);
}


.HoverableTable tbody tr:hover {
    cursor: pointer;
}