.ForumWrapper{
    width: 100%;
    padding-top: 10%;
}

.ForumCategoryList{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 100%;
    margin: auto;
    display: grid;
    max-width: var(--d-max-width);
    column-gap: 1em;
}

.hoverable-table tbody tr:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .ForumCategoryList {
        grid-template-columns: 1fr; /* Cambiar a 1 columna */
    }
}