.main-forum{
    width: 100%;
    padding: 0 24px;
    background-color: var(--bg-primary);
}



.category-container{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 100%;
    margin: 1em auto;
    display: grid;
    max-width: var(--d-max-width);
    column-gap: 1em;
    padding: 1em 0px;
}

.hoverable-table tbody tr:hover {
    cursor: pointer;
}